/* Configuración de la pantalla del celular */
.contenedor-app {
    background-color: #220761;
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
}

.mi-header {
    background-color: #13ffff; /* Verde institucional */
    color: rgb(100, 70, 4);
    text-align: center;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(27, 9, 190, 0.849);
}

.contenido {
    padding: 20px;
    text-align: center;
}

/* Sistema de rejilla para las tarjetas */
.grid-servicios {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    gap: 15px;
    margin-top: 20px;
}

/* Diseño de cada tarjeta individual */
.card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.2s, background 0.2s;
}

/* Efecto al tocar la tarjeta (para que se sienta real) */
.card:active {
    transform: scale(0.8);
    filter: brightness(0.8);
    background-color: #e8f5e9;
}

.icon {
    font-size: 40px;
    display: block;
    margin-bottom: 10px;
}

h3 {
    font-size: 14px;
    color: #000000;
    margin: 0;
}