/* Configuración de la pantalla del celular */
.contenedor-app {
    background-color: #7f58da;
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
}

.mi-header {
    background-color: #13ffff; /* Verde institucional */
    color: rgb(100, 70, 4);
    text-align: center;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(108, 92, 255, 0.849);
}

.contenido {
    padding: 20px;
    text-align: center;
}

/* Sistema de rejilla para las tarjetas */
.grid-servicios {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    gap: 15px;
    margin-top: 20px;
}

/* Diseño de cada tarjeta individual */
.card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.2s, background 0.2s;
}

/* Efecto al tocar la tarjeta (para que se sienta real) */
.card:active {
    transform: scale(0.8);
    filter: brightness(0.8);
    background-color: #e8f5e9;
}

.icon {
    font-size: 40px;
    display: block;
    margin-bottom: 10px;
}

h3 {
    font-size: 14px;
    color: #000000;
    margin: 0;
}
/* Caja que organiza las fotos una debajo de la otra */
.galeria-vertical {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Separa las fotos de forma elegante */
  margin-top: 10px;
}

/* Controla que todas las fotos queden del mismo tamaño y estilizadas */
.img-proyecto {
  width: 100%;
  height: 200px; /* Altura fija para que jueguen a ser fotógrafos */
  object-fit: cover; /* Recorta la imagen mágicamente para que no se estire feo */
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.video-contenedor {
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
  margin-top: 20px;
}

.video-contenedor iframe {
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;
  border-radius: 12px;
}
/* Alinea el título y el botón en la misma línea */
.barra-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilo del botón hamburguesa */
.btn-menu {
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

/* Estructura del menú de enlaces */
#navegacion {
  display: flex;
  flex-direction: column;
  background-color: #1b5e20; /* Un verde más oscuro para el menú */
  transition: all 0.3s ease; /* Hace que la aparición sea suave */
}

/* CLASE MÁGICA: Oculta el menú por defecto */
.menu-oculto {
  display: none !important;
}

/* Estilo de cada enlace dentro del menú */
#navegacion a {
  color: white;
  padding: 15px;
  text-decoration: none;
  border-top: 1px solid #2e7d32;
  font-size: 16px;
  transition: 0.3s; /* Para el efecto suave del hover */
}

/* 🔥 EFECTO HOVER: Animación al pasar el mouse o tocar */
#navegacion a:hover {
  background-color: #4caf50; /* Cambia a un verde más claro */
  padding-left: 35px; /* Efecto dinámico: el texto se mueve a la derecha */
}
